nav {
    background-color: #041d42;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#menuimg {
    width: 200px;
}

#menu {
    color: whitesmoke;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 48px;
}

#frontpageimg {
    width: 674px;
    height: 800px;
    margin-top: 75px;
}

.maininfo {
    display: inline-flex;
    margin: 100px;
}

.frontpagetxt {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 100px;
}

#header {
    font-size: 64px;
}

#blurbinfo {
    font-size: 36px;
}